<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rbtree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>rbtree_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>rbtree_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06D4EA608B2344D5AEA16450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F66F9729B5B492CA7FB240C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97AABAB7A7FA446A9C162243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D04F84697CD1437EB94E6227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDD6AE2DB9454FC8A71C6B20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F29A8C1F4E2B41E19F557DE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
