<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rbtree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>rbtree_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>153E929A295B4859AD22A61F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F09C731A47349499CC0D743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DBFE66DFDE044C2AB7CB51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD262299C3AB4BAC9F4A2611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFEA770B582B4D3EAE6C9D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
